<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>IFAR BioStats Core</h2>
        </header>
        <p>The Biostatics and Clinical Trials Program<br>
          AT<br>
          The Hebrew SeniorLife Institute for <strong>Aging</strong> Research
          <br> AND <br>
          The Boston Pepper Center
          <br> <br>
          Harvard Medical School
          <br> Roslindale, MA </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="/#about" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
