<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>IFAR BioStats Core</h2>
        </header>
        <p> Biostatistics and Clinical Trials
           <br> AT  <br> <strong> The Institute for Aging Research </strong> <br> AND <br> <strong>  The Boston Pepper Center </strong>
          <br> <br> Hebrew Seniorlife
          <br> Roslindale, MA </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="/#about" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
