<header id="header", class="printhide">
				<h1><a href="/"><i class="icon-hsl"></i> Biostats Core <span>at Institute for Aging Research</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/#banner">Welcome</a></li>
            <li><a href="/#about">About us</a></li>
						<li><a href="/#services">Services</a></li>
						<li><a href="/#team">Team</a></li>
						<li class="submenu">
							<a href="">Products</a>
							<ul>
								<li><a href="/instructions.html">Instructions (alpha)</a></li>
								<li><a href="https://ifar-shiny.hsl.harvard.edu/">Shiny Site</a></li>
								<li><a href="https://ifar-edc.hsl.harvard.edu/redcap">REDCap</a></li>
								<li><a href="https://ifar-wikis.hsl.harvard.edu">Core Wiki</a></li>
							</ul>
						</li>
						<li><a href="/news.html">News</a></li>
					</ul>
				</nav>
			</header>
