<!DOCTYPE html>
<html>

  {% include head-toc.html %}

  <body data-spy="scroll" data-target=".toc" data-offset="20">
    {% include header.html %}
    <div class="page-content">
      <div class="main-left">
        <div class="toc"></div>
      </div>
        {{ content }}
    </div>
    {% include footer-short.html %}
  <script type="text/javascript">
  $(document).ready(function() {
      $('.toc').toc({
        showEffect: 'fadeIn'
      });
  });
  </script>
  <script>
			$('body').scrollgress({
        height: '5px',
        color: '#7c8081',
        success: function() {
            console.log('Scrollgress has been initiated.');
        }
      });
	</script>
  <script src="/js/smoothscroll.js"></script>
  </body>

</html>
